<app-plant-entity-table *ngIf="!(isLoading | async) && (data | async).length" [data]="data | async"
                        [plantType]="plantType | async" [pagination]="pagination | async"
                        (pageChange)="onPageChange($event)"></app-plant-entity-table>
<mat-spinner *ngIf="isLoading | async"></mat-spinner>
<div class="carousel" fxLayout="row" fxLayoutAlign="start center" *ngIf="!(isLoading | async) && (data | async).length">
  <app-formula *ngFor="let formula of formulas | async" [formula]="formula"></app-formula>
</div>
<mat-card *ngIf="!(isLoading | async) && !(data | async).length" style="text-align: center">
  <mat-icon>warning</mat-icon>
  <br>
  Aún no hay datos
</mat-card>
