<div fxLayout="column">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-evenly center">
    <img src="../../../assets/images/logo.png">
    <button mat-stroked-button color="primary" routerLink="location">Mapa</button>
    <button mat-stroked-button color="primary" routerLink="entrance">Entradas</button>
    <button mat-stroked-button color="primary" routerLink="intransit">En Transito</button>
    <button mat-stroked-button color="primary" routerLink="inventory">Inventario</button>
    <button mat-stroked-button color="primary" routerLink="outputs">Salidas</button>
    <button mat-stroked-button color="primary" routerLink="aplicated">Aplicados</button>
    <button mat-stroked-button color="primary" (click)="onSignOut()">Cerrar Sesión</button>
  </mat-toolbar>
  <div fxFill fxLayoutAlign="center center">
    <router-outlet></router-outlet>
  </div>
</div>
