$primaryColorLight: (
  50: #4ABD0E,
  100: #4ABD0E,
  200: #4ABD0E,
  300: #4ABD0E,
  400: #4ABD0E,
  500: #4ABD0E,
  600: #4ABD0E,
  700: #4ABD0E,
  800: #4ABD0E,
  900: #4ABD0E,
  A100: #4ABD0E,
  A200: #4ABD0E,
  A400: #4ABD0E,
  A700: #4ABD0E,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$primaryColorDark: (
  50: #3B960B,
  100: #3B960B,
  200: #3B960B,
  300: #3B960B,
  400: #3B960B,
  500: #3B960B,
  600: #3B960B,
  700: #3B960B,
  800: #3B960B,
  900: #3B960B,
  A100: #3B960B,
  A200: #3B960B,
  A400: #3B960B,
  A700: #3B960B,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
