$secondaryColor: (
  50: #64dd17,
  100: #64dd17,
  200: #64dd17,
  300: #64dd17,
  400: #64dd17,
  500: #64dd17,
  600: #64dd17,
  700: #64dd17,
  800: #64dd17,
  900: #64dd17,
  A100: #64dd17,
  A200: #64dd17,
  A400: #64dd17,
  A700: #64dd17,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$secondaryColorDark: (
  50: #31790a,
  100: #31790a,
  200: #31790a,
  300: #31790a,
  400: #31790a,
  500: #31790a,
  600: #31790a,
  700: #31790a,
  800: #31790a,
  900: #31790a,
  A100: #31790a,
  A200: #31790a,
  A400: #31790a,
  A700: #31790a,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
