@import "themes/palettes/primary-color";
@import "themes/palettes/secondary-color";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sumagro-plant-admin-primary: mat-palette($primaryColorLight);
$sumagro-plant-admin-accent: mat-palette($secondaryColor, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sumagro-plant-admin-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sumagro-plant-admin-theme: mat-light-theme($sumagro-plant-admin-primary, $sumagro-plant-admin-accent, $sumagro-plant-admin-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sumagro-plant-admin-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-rows:hover {
  background: #777;
}

table {
  margin-top: 1rem;
  width: 85vw;
}
